.looking-for-label {font-size: 1.2em !important;}
.edit-citation {display: none;}
.resource-description-button {font-size: 15.6px !important;}
.resource-row {font-size: 1.2em !important;}
.custom-links {font-size: 1.2em !important;}
#mobile-action-page {font-size: 1.2em !important;}
.btn-primary {color: #0E7BBA !important; background-color: #ffffff !important; border-color: #ffffff !important; !important; padding: 0px 0px !important; min-width: 0px !important; margin-left: 10px !important; margin-right: 5px !important; margin-top: 10px !important; vertical-align: top !important; line-height: normal !important; border-radius: 0px !important;}
.btn-primary {font-size: 15.6px !important;}
.resource-description-button {font-size: 16px;}
.btn-large{font-weight: bold !important;}
.btn {text-align: left !important}



